body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#to-top {
    display: none;
    width: 50px;
    height: 50px;
    background: rgb(45, 10, 198);
    background: linear-gradient(90deg, rgba(45, 10, 198, 1) 0%, rgba(52, 207, 237, 1) 100%);
    z-index: 100000;
    border-radius: 10px;
}

@media screen and (min-height: 100px) {
    #to-top {
        position: fixed;
        top: 890px;
        right: 10px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

.arrow-up {
    position: relative;
    top: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#main-background {
    position: absolute;
    top: -260px;
    right: -30px;
    width: 1950px;
    height: 1100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#computer {
    display: block;
    position: absolute;
    margin: auto;
    top: 450px;
    width: 650px;
    height: 375px;
}

.menu-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: -95px;
    width: 150px;
    height: 40px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

#register-now {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    position: absolute;
    top: 23px;
    right: 5%;
    width: 165px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: rgb(237, 104, 52);
    background: linear-gradient(90deg, rgba(237, 104, 52, 1) 0%, rgba(198, 10, 155, 1) 100%);
    /* background: rgb(169, 125, 93);
    background: linear-gradient(90deg, rgba(169, 125, 93, 1) 0%, rgba(92, 117, 94, 1) 100%); */
}

#register-now :hover {
    /* transform: scaleX(0); */
    background: rgb(198, 10, 155);
    background: linear-gradient(90deg, rgba(198, 10, 155, 1) 0%, rgba(237, 104, 52, 1) 100%);
    /* background: rgb(92, 117, 94);
    background: linear-gradient(90deg, rgba(92, 117, 94, 1) 0%, rgba(169, 125, 93, 1) 100%); */
}

/* This should not change size */
#logo-img {
    position: absolute;
    top: 2.5%;
    left: 4%;
    width: 100px;
    height: 35px;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header>h1 {
    position: absolute;
    color: white;
}

.top-header>.nav>ul>a {
    text-decoration: none;
    color: white;
}

#p1 {
    top: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
}

#p2 {
    top: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
}

#p3 {
    text-align: center;
    top: 22%;
    width: 500px;
    font-size: 20px;
    z-index: 1;
}

#get-started {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    position: absolute;
    top: 40%;
    width: 165px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: #0bbfd0;
    background: linear-gradient(90deg, #0bbfd0 0%, hwb(205 4% 21%) 100%);
}

#get-started:hover {
    background: hwb(205 4% 21%);
    background: linear-gradient(90deg, hwb(205 4% 21%) 0%, #0bbfd0 100%);

}

/* .advertisements {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    top: 900px;
    width: 700px;
    height: 100px;
}

.advertisements-double-row-1,
.advertisements-double-row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
} */
/*
.advertisements-div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
}

.advertisements-single {
    background: red;
}

.advertisements-double {
    background: blue;
}

.advertisements-triple {
    background: green;
}

.advertisements-triple-row-2 {
    position: absolute;
    top: 100px;
}

.advertisements-triple-row-3 {
    position: absolute;
    top: 175px;
}

.advertisements-double-row-2 {
    position: absolute;
    top: 100px;
}

@media screen and (min-width: 600px) {
    .advertisements-single {
        display: none;
    }

    .advertisements-double {
        display: none;
    }

    .advertisements-triple {
        display: flex;
    }
}

@media screen and (max-width: 1000px) {
    .advertisements-single {
        display: none;
    }

    .advertisements-double {
        display: none;
    }

    .advertisements-triple {
        display: none;
    }
}

 @media screen and (max-width: 1200px) {
    .advertisements-single {
        display: none;
    }

    .advertisements-double {
        display: none;
    }

    .advertisements-triple {
        display: none;
    }
} */

hr.solid-divider {
    position: absolute;
    width: 125px;
    border: none;
    border-top: 5px solid #fea1b4;
}

hr.solid-divider1 {
    top: 1150px;
}

hr.solid-divider2 {
    top: 2800px;
    left: 100px;
}

.features {
    position: absolute;
    top: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    text-align: center;
}

.text-body>p {
    font-size: 32px;
    font-family: 'VT323', monospace;
}

.feature-card {
    position: absolute;
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    top: 200px;
    box-shadow: 0 0 5px 5px #fbf9f9;
    /* transition: transform 2s smooth; */
    /* transition: 3s; */
}

.feature-card:hover {
    /* position: absolute; */
    /* top: 250px; */
    border: 2px;
    border-color: red;
    border-style: solid;
}

.feature-card:hover>.shape-div>.shape-bg {
    transform: rotate(20deg);
}

.shape-bg {
    position: absolute;
    left: 31.5%;
    width: 40%;
    top: 6%;
}

.main-shape {
    position: absolute;
    left: 37%;
    top: 10%;
    width: 30%;
}

.feature-card {
    display: flex;
    justify-content: center;
}

.feature-card>h1 {
    position: absolute;
    font-size: 25px;
    top: 45%;
    /* left: 38%; */
}

.feature-card>h2 {
    position: absolute;
    font-size: 16px;
    color: rgb(79, 78, 78);
    text-align: center;
    top: 60%;
    width: 75%;
    /* left: 15%; */
}

.feature-card>a {
    position: absolute;
    color: black;
    text-decoration: none;
    font-size: 20px;
    bottom: 13px;
}

.clean-card {
    top: 250px;
}

.robust-card {
    top: 700px;
}

.powerful-card {
    top: 1150px;
}

.feature-card {
    width: 50%;
}

.about {
    position: absolute;
    top: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .about>.section1 {
    display: flex;
    justify-content: center;
} */

.about>.section1>#title {
    position: absolute;
    font-size: 36px;
    width: 400px;
    /* right: 900px; */
    top: 800px;
    right: -50px;
}

.about>.section1>#pgrph {
    position: absolute;
    width: 400px;
    font-size: 17px;
    color: rgb(49, 49, 49);
    top: 920px;
    right: -50px;
}

.about>.section1>#bg {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 100px;
    top: 600px;
    z-index: -1;
}

/* .about>.section1>#try-it-free {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 100px;
    top: 600px;
} */

#try-it-free {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    position: absolute;
    top: 1120px;
    right: 190px;
    width: 165px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: rgb(237, 104, 52);
    background: linear-gradient(90deg, rgba(237, 104, 52, 1) 0%, rgba(198, 10, 155, 1) 100%);
}

.about>.section1>#main {
    position: absolute;
    width: 600px;
    top: 1200px;
    left: -350px;
    z-index: 100;
}



@media screen and (min-width: 1000px) {
    .clean-card {
        top: 250px;
        left: 20px;
    }

    .robust-card {
        top: 250px;
    }

    .powerful-card {
        top: 250px;
        right: 20px;
    }

    .feature-card {
        width: 30%;
    }
}

.nav {
    position: relative;
    top: 5px;
    /* left: -50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    padding: 1em 1.5em;
    list-style-type: none;
    cursor: pointer;
    translate: transform;
}

li:hover {
    transform: scale(1.5);
}

@media screen and (min-width: 1000px) {
    .menu-btn {
        display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        display: none !important;
    }

    #register-now  {
        right: 15%;
    }
}

@media screen and (max-width: 500px) {

    #register-now {
        display: none !important;
    }
}
